<div class="col-12 mb-3">
        <h2 class="text-center card-header">Ultime Transazioni <i class="fas fa-receipt"></i></h2>
    <div class="scrollable">
        <table class="table table-striped table-responsive-sm ">
            <thead>
            <tr>
                <th scope="col">Destinatario</th>
                <th scope="col">Importo</th>
                <th scope="col">Causale</th>
                <th scope="col">Data</th>
            </tr>
            </thead>
            <tbody>
                <%
                var importo = transazioni.map(function(value) {return value.importo.toFixed(2);});
                var destinatario = transazioni.map(function (value) { return value.destinatario;});
                var causale = transazioni.map(function (value) { return value.causale; });
                var data = transazioni.map(function(value){return value.data});

                    for(let i = 0; i < 5; i++){
                    var dataD = new Date(data[i]);
                    var dataJS = dataD.getDate()+ "/" + (dataD.getMonth()+1) + "/" + dataD.getFullYear();

                %>
                <tr>
                    <th scope="row"><%=destinatario[i]%></th>
                    <td> € <%= importo[i]%></td>
                    <td><div class="show" data-toggle="tooltip" data-placement="bottom" title="<%=causale[i]%>" ><%= causale[i]%></div></td>
                    <td><%= dataJS%></td>
                </tr>

                <%} %>
            </tbody>
        </table>
    </div>
    </div>
